<!-- <p id="test">Jeff H.</p> -->

<section class="container-fluid" id="section1">
    <div class="row">
        <div class="col-lg-12">
            <img id="purpleT" src="{{$ctrl.purpleT}}" alt="" ng-click="$ctrl.tetris()" ng-mouseenter="$ctrl.purpleT = '../images/purpleTclick.png'"
                ng-mouseleave="$ctrl.purpleT = '../images/purpleT.png'">
            <img id="jh" src="../images/logo.png" alt="logo" ng-mouseenter="bg = '../images/hatdog.png'" ng-mouseleave="bg = '../images/dag.png'">
            <div id="dogSpeech">
                <img id="dag" ng-init="bg = '../images/dag.png'" src="{{bg}}" alt="Smiley face" id="dag" ng-mouseenter="bg = '../images/woof.png'"
                    ng-mouseleave="bg = '../images/dag.png'">
                <a class="page-scroll postPadding projectsPadding" href="#section4"><img id="projects" src="../images/projects.png" alt="" ng-mouseenter="bg = '../images/projectswoof.png'" ng-mouseleave="bg = '../images/dag.png'"></a>
                <a class="page-scroll postPadding" href="#section3"><img class="imageDiv" id="contact" src="../images/contact.png" alt="" ng-mouseenter="bg = '../images/contactwoof.png'" ng-mouseleave="bg = '../images/dag.png'"></a>
                <a class="page-scroll" href="#section2">
                    <div id="aboutPipe">
                        <!-- <img id="stampede" src="{{$ctrl.stampede}}" alt="pipe"> -->
                        <a class="page-scroll" href="#section2"><img class="bottomDiv" id="whatever" src="../images/whatever.png" alt="" ng-mouseenter="bg = '../images/aboutwoof.png'" ng-mouseleave="bg = '../images/dag.png'"></a>
                        <img id="pipe" src="{{$ctrl.pipe}}" alt="pipe" ng-mouseenter="$ctrl.starfish()" , ng-mouseleave="$ctrl.morestar()">
                    </div>
            </div>
        </div>
    </div>
</section>
<div id="line">
</div>
<section class="container-fluid" id="section2">
    <div class="row">
        <div class="col-lg-12 relative">
            <img id="purplestar" src="{{$ctrl.purpleStar}}" alt="starfish">
            <div id="accomplifish">
                <div id="accomplishments">
                    <div id="dipApple">
                        <img id="diploma" src="../images/diploma.png" alt="" ng-mouseenter="$ctrl.purpleStar = '../images/starDiploma.png'" ng-mouseleave="$ctrl.purpleStar = '../images/purplestar.png'">
                        <img id="apple" src="../images/apple.png" alt="">
                    </div>
                    <!-- <div id="dipApple">
                        <img id="computer" src="../images/computer.png" alt="" ng-mouseenter="$ctrl.purpleStar = '../images/purpleStarDev.png'" ng-mouseleave="$ctrl.purpleStar = '../images/purpleStar.png'">
                    </div> -->
                    <!-- <img id="desk" class="border" src="../images/desk.png" alt="desk" usemap="#planetmap"> -->
                    <img id="desk" src="../images/desk.png" usemap="#enewspaper" ng-mouseenter="$ctrl.purpleStar = '../images/purpleStarDev.png'"
                        ng-mouseleave="$ctrl.purpleStar = '../images/purplestar.png'">
                </div>
                <div id="orangeStar">
                    <img src="{{$ctrl.starry}}" alt="starfish" id="starfish" ng-mouseenter="$ctrl.party()" ng-mouseleave="$ctrl.noParty()">
                    <img src="{{$ctrl.fishes}}" alt="fish" id="fish">
                </div>
                <div class="crystals">
                    <img class="seaweed" id="seaOne" src="../images/seaweedNorm.png" alt="seaweed">
                    <img class="seaweed" id="seaTwo" src="../images/seaweedNorm.png" alt="seaweed">
                    <img class="seaweed" id="seaThree" src="../images/seaweedNorm.png" alt="seaweed">
                    <img class="seaweed" id="seaFour" src="../images/seaweed.png" alt="seaweed" ng-mouseenter="$ctrl.fishes = '../images/fishhat.png'"
                        ng-mouseleave="$ctrl.fishes = '../images/fishes.png'">
                    <img class="seaweed" id="seaFive" src="../images/seaweedNorm.png" alt="seaweed">
                    <img class="seaweed" id="seaSix" src="../images/seaweedNorm.png" alt="seaweed">
                    <img class="seaweed" id="seaSeven" src="../images/seaweedNorm.png" alt="seaweed">
                </div>
            </div>
        </div>
    </div>
</section>
<div id="line">
</div>
<section class="container-fluid" id="section4">
    <div class="row">
        <div class="col-lg-12">
            <div id="dogAndMap">
                <img id="fox" ng-init="fox = '../images/fox.png'" src="{{fox}}" alt="Smiley face" id="dag">
                <div class="mapParent">
                    <img id="projectMap" src="../images/projectsMap.png" alt="project map" class="map mapper">
                    <a href="https://thesaurus-rex.firebaseapp.com/#"><img id="thesaurusRex" src="../images/thesaurusRex.png" alt="Thesaurus Rex" ng-mouseenter="fox = '../images/foxThesaurusRex.png'" ng-mouseleave="fox = '../images/fox.png'"></a>
                    <a href="https://spacehub.us/#/"><img id="spaceHub" src="../images/spaceHub.png" alt="SpaceHub" ng-mouseenter="fox = '../images/foxSpaceHub.png'" ng-mouseleave="fox = '../images/fox.png'"></a>
                    <a href="https://flashrhino.com/"><img id="flashRhino" src="../images/flashRhino.png" alt="Flash Rhino" ng-mouseenter="fox = '../images/foxFlashRhino.png'" ng-mouseleave="fox = '../images/fox.png'"></a>
                    <img id="castle" src="../images/castle.jpg" alt="castle" ng-mouseenter="fox = '../images/foxHat.png'" ng-mouseleave="fox = '../images/fox.png'"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="line">
</div>
<section class="container-fluid" id="section3">
    <div class="row">
        <div class="col-md-2">
            <img id="pokeball" src="../images/pokeball.png" alt="Smiley face" ng-mouseenter="$ctrl.randomCave()" ng-mouseleave="$ctrl.cave = '../images/cave/caveZero.png'">
            <img id="panda" src="{{$ctrl.panda}}" alt="Smiley face" id="dag">
        </div>
        <div class="col-lg-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <form class="form-vertical">
                            <fieldset>
                                <legend>Contact me</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputEmail" ng-model="$ctrl.name" placeholder="{{$ctrl.name}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10">
                                        <input type="name" class="form-control" id="inputPassword" ng-model="$ctrl.email" placeholder="{{$ctrl.name}}">
                                    </div>
                                </div>
                                <h1 placeholder="{{$ctrl.name}}"></h1>
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-2 control-label">Message</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" ng-model="$ctrl.message" id="textArea"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary sendButton" ng-click="$ctrl.sendMail()" ng-mouseenter="$ctrl.panda = '../images/redPandaSpeech.png'" ng-mouseleave="$ctrl.panda = '../images/redPanda.png'">Send</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <img id="cave" src="{{$ctrl.cave}}" alt="Smiley face">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="crystals">
                            <img class="crystal" id="pinkCrystal" src="{{$ctrl.pinkCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()" ng-mouseleave="$ctrl.regCrystals()">
                            <img class="crystal" id="blueCrystal" src="{{$ctrl.blueCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()" ng-mouseleave="$ctrl.regCrystals()">
                                <img class="crystal" id="redCrystal" src="{{$ctrl.redCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()" ng-mouseleave="$ctrl.regCrystals()">
                            <img class="crystal" id="greenCrystal" src="{{$ctrl.greenCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()" ng-mouseleave="$ctrl.regCrystals()">
                            <img class="crystal" id="yellowCrystal" src="{{$ctrl.yellowCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()"
                                ng-mouseleave="$ctrl.regCrystals()">
                            <img class="crystal" id="lightBlueCrystal" src="{{$ctrl.lightBlueCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()"
                                ng-mouseleave="$ctrl.regCrystals()">
                            <img class="crystal" id="purpleCrystal" src="{{$ctrl.purpleCrystal}}" alt="crystal" ng-mouseenter="$ctrl.randomCrystal()"
                                ng-mouseleave="$ctrl.regCrystals()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="line">
</div>


<!-- <p id="test2">Brap brap</p>
<p id="test3">Brap brap</p>
<p id="test4">Brap brap</p>
<p id="test5">Brap brap</p> -->