/*body {
    background-image: url("../images/bigdag.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }*/
#fish {
  display: flex;
  align-self: flex-end;
  float: right;
  margin-right: 4%;
  margin-top: 15%;
  width: 89%;
  height: auto;

}
.pandatest {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 40%;
  width: auto;
}
#testTwo {
  display: flex;
  align-self: center;
  width: 18%;
  height: auto;
  margin-left: 55%;
  margin-top: 0%;
  margin-bottom: 7.4%;
}
#section1 {

	/*background-color: rgb(169, 216, 255);
  color:rgb(34, 98, 119);*/
  background: linear-gradient(rgb(169, 216, 255) 60%, rgb(34, 198, 119) 40%);
}
#section2 {
	/*background-color: rgb(59, 59, 203);*/
  background: linear-gradient(rgb(59, 59, 203) 60%, rgb(44, 57, 94) 40%);
}
#section3 {
	/*background-color: rgb(59, 59, 203);*/
  background: linear-gradient(rgba(15, 6, 31, 0.73) 60%, rgb(140, 10, 10) 40%);
}
footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}
#purpleT {
  width: 18%;
  float: left;
  margin-top: 1%;
  margin-left: 4%;
  cursor: pointer;
}
#starfish {
  display: flex;
  align-self: flex-end;
  float: right;
  margin-top: 13%;
  margin-right: 30%;
  width: 33%;
}
#accomplifish {
  display: flex;
}
#fishstar {
  display: flex;
  margin-right: 0;
  margin-top: 5%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 0px 0px 0px;
  float: right;
}
.button {
    background-color: RGB(49, 72, 86);
    size:
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:  none;
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    font-family: Hoefler Text;
    font-size: 15px;
}
#computer {
  display: flex;
  margin-top: 23%;
  align-self: flex-start;
  justify-content: flex-start;
  width: 26%;
}
#projects {
  display: flex;
  align-self: center;
  width: 13%;
  margin-left: 10%;
  margin-top: 0%;
}
#contact:hover, #whatever:hover, #projects:hover, #stampede:hover, #pipe:hover, #starfish:hover,
#purplestar:hover, #seaweed:hover, #purpleT:hover, #diploma:hover, #computer:hover{
  transform: scale(1.01);
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter:         drop-shadow(2px 2px 2px #222);
}
#fash {
  margin-top: 2000px;
}
#diploma {
  display: flex;
  margin-top: 29%;
  align-self: flex-start;
  justify-content: flex-start;
  width: 26%;
}
.flyYouFools {
  position: sticky;
  z-index: 100;
}
#seaweed {
  position: absolute;
  width: 6%;
  top: 0;
  bottom: 0;
  height: auto;
  justify-content: center;
  align-items: center;
}
#allSeaweed {
  position: relative;
  width: 40%;
  height: 40%;
}
#flyingAnimal {
    position: absolute;
    /*left: -1500px;*/
    margin-top: 0px;
}
#orangeStar {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 6%;
  margin-right: 7%;
  align-items: flex-end;
  justify-content: flex-end;
}
#purplestar {
  width: 45%;
  float: left;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: 6%;
  margin-left: 2%;
}
#pipe {
  display: flex;
  align-self: center;
  float: right;
  width: 55%;
  height: auto;
  margin-top: 0%;
  margin-right: 4%;
}
#stampede {
  display: flex;
  width: 50%;
  float: right;
}
#contact {
  display: flex;
  align-self: center;
  width: 22%;
  margin-left: 8%;
  margin-top: 19%;
  margin-bottom: 4%;
}
#line {
  width: 110%;
  height: 10px;
  color: black;
  background-color: black;
  float: bottom;
}
#contact {
  width: 22%;
  margin-left: 8%;
  margin-top: 19%;
}
#whatever {
  display: flex;
  align-self: flex-end;
  float: right;
  width: 80%;
  margin-top: 40%
}
#dogSpeech {
  display: flex;
  align-self: center;
  flex-direction: row;
  z-index: -1;
}
#aboutPipe {
  display: flex;
  float: left;
  flex-direction: column;
  align-self: center;
  margin-top: -15%;

}
#speechbox{
    height: 15%;
    width: 15%;
    margin-left: 3%;
}
#dag {
  display: flex;
  align-self: center;
  width: 16%;
  height: auto;
  margin-left: 3%;
  margin-top: 0%;
  margin-bottom: 4%
}
#panda {
  display: flex;
  align-self: center;
  width: 18%;
  height: auto;
  margin-left: 3%;
  margin-top: 0%;
  margin-bottom: 4%
}
#dag:hover, #fish:hover, #panda:hover {
  transform: scale(1.1);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222);
}
#leaf {
  width: 100%;
  /*opacity: .9;*/
}
#nav {
  margin-bottom: 0;
}
.collapse, .navbar-brand {
  background-color: RGB(29, 43, 51);
  border-color: RGB(29, 43, 51);
}
#owls {
  margin-top: 40px;
  margin-right: 40px;
}
#flexThis {
  display: flex;
  justify-content: flex-end;
}
#test {
  display: flex;
  justify-content: center;
  font-size: 130px;
  font-family: Hoefler Text;
  color: RGB(49, 72, 86);
}
#test2 {
  display: flex;
  justify-content: center;
  font-size: 200px;
  font-family: Hoefler Text;
  color: RGB(236, 187, 173);
}
#jh {
  width: 9%;
  margin-left: 0%;
  margin-top:4%;
}
#jh:hover {
  transform: scale(1.1);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222);
}
#test3 {
  display: flex;
  justify-content: center;
  font-size: 200px;
  font-family: Hoefler Text;
  color: RGB(121, 136, 129);
}
#test4 {
  display: flex;
  justify-content: center;
  font-size: 200px;
  font-family: Hoefler Text;
  color: RGB(157, 81, 65);
}
#test5 {
  display: flex;
  justify-content: center;
  font-size: 200px;
  font-family: Hoefler Text;
  color: RGB(166, 127, 72);
}

#top, #left, #right {
  z-index: -1;
	background: RGB(49, 72, 86);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 200px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom {
      bottom: 0;
      z-index: -1;
      background: RGB(49, 72, 86);
    }

    @media

    /* Fairly small screens including iphones */
    only screen and (max-width: 500px),

    /* iPads */
    only screen and (min-device-width: 768px) and (max-device-width: 1024px)

    {
    	#top, #bottom, #left, #right { display: none; }
    }

/*Blue - RGB(49, 72, 86)
Peach - RGB(236, 187, 173)
Grey/green - RGB(121, 136, 129)
Red. - RGB(157, 81, 65)
Gold - RGB(166, 127, 72)*/
