/*body {
    background-image: url("../images/bigdag.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }*/

#fish {
    display: flex;
    align-self: flex-end;
    float: right;
    margin-right: 4%;
    margin-top: 50%;
    width: 60%;
    height: auto;
    cursor: pointer;
}

#pokeball {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    width: 25%;
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 20%
}

#desk {
    position: relative;
    z-index: 100;
    width: 80%;
    margin-bottom: 0%;
}

#dipApple {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#cave {
    display: flex;
    align-self: center;
    width: 75%;
    height: auto;
    /* margin-left: 35%; */
    margin-top: 7%;
    margin-bottom: 13.71%;
}

#section1 {
    /*background-color: rgb(169, 216, 255);
  color:rgb(34, 98, 119);*/
    background: linear-gradient(rgb(169, 216, 255) 60%, rgb(34, 198, 119) 40%);
}

#section2 {
    position: relative;
    background: linear-gradient(rgb(59, 59, 203) 60%, rgb(44, 57, 94) 40%);
}

#section3 {
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    background: linear-gradient(rgba(15, 6, 31, 0.73) 60%, rgb(38, 34, 43) 40%);
    min-height: 80vh;
}

#section4 {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    background: linear-gradient(rgb(253, 253, 253) 60%, rgb(193, 193, 193) 40%);
}

footer .nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

#purpleT {
    position: relative;
    width: 18%;
    float: left;
    z-index: 100;
    margin-top: 1%;
    margin-left: 4%;
    cursor: pointer;
}

.sendButton {
    margin: 5%;
}

#starfish {
    display: flex;
    align-self: flex-end;
    float: right;
    margin-top: 13%;
    margin-right: 30%;
    width: 33%;
}

#accomplifish {
    display: flex;
}

#accomplishments {
    position: relative;
    width: 80%;
    height: auto;
    margin-bottom: 9%;
    margin-top: 12%;
}

#fishstar {
    display: flex;
    margin-right: 0;
    margin-top: 5%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 0px 0px 0px;
    float: right;
}

.button {
    background-color: RGB(49, 72, 86);
    size: border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    font-family: Hoefler Text;
    font-size: 15px;
}

#computer {}

#projects {
    display: flex;
    align-self: center;
    width: 70%;
    margin-left: 10%;
    margin-top: 0%;
    cursor: pointer;
}

#contact:hover,
#whatever:hover,
#projects:hover,
#stampede:hover,
#pipe:hover,
#starfish:hover,
#seaweed:hover,
#purpleT:hover,
#diploma:hover,
#computer:hover,
#apple:hover {
    transform: scale(1.01);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

#fash {
    margin-top: 2000px;
}

#diploma {
    display: flex;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 25%;
    align-self: flex-start;
    justify-content: flex-start;
    width: 26%;
}

.crystals {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 60%;
    left: 0;
    right: 0;
    height: 40%;
    bottom: 40%;
    max-height: 100%;
}

.crystal {
    width: 7%;
}

#pinkCrystal {
    z-index: 100;
    margin-top: 7%;
    margin-left: 19%;
    margin-right: 1%;
}

#blueCrystal {
    margin-bottom: 11%;
    margin-right: -12%;
}

#redCrystal {
    margin-top: 6%;
    margin-left: 5%;
}

#greenCrystal {
    margin-bottom: 8%;
    margin-left: -5%;
    margin-right: 14%;
}

#yellowCrystal {
    margin-bottom: -1%;
    margin-left: -9%;
}

#lightBlueCrystal {
    margin-bottom: -6%;
    margin-left: -4%;
}

#purpleCrystal {
    margin-left: -5%;
    margin-bottom: 9%;
}

#apple {
    display: flex;
    margin-top: 25%;
    margin-left: 13%;
    align-self: flex-start;
    justify-content: flex-start;
    width: 26%;
}

.flyYouFools {
    position: sticky;
    z-index: 100;
}

.absolute {
    position: absolute;
}

#crystalone {
    margin-left: 50%;
}

#seaOne {
    margin-top: 6%;
}

#seaTwo {
    position: relative;
    z-index: 0;
    margin-bottom: 4%;
    margin-right: 12%;
}

#seaThree {
    margin-right: -23%;
    margin-top: -21%;
}

#seaFour {
    margin-right: 27%;
    margin-top: 5%;
}

#seaFive {
    margin-bottom: -9%;
    margin-right: 8%;
}

#seaSix {
    margin-top: 7%;
    margin-right: -4%;
}

#seaSeven {
    margin-bottom: 16%;
    margin-left: -9%;
    margin-right: 18%;
}

.seaweed {
    width: 5%;
    height: auto;
}

#allSeaweed {
    position: relative;
    width: 40%;
    height: 40%;
}

#flyingAnimal {
    position: absolute;
    /*left: -1500px;*/
    margin-top: 0px;
}

#orangeStar {
    display: flex;
    flex-direction: column;
    float: right;
    margin-bottom: 6%;
    margin-right: 4.5%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0%;
}

.border {
    border: 1px solid red;
}

#purplestar {
    position: relative;
    z-index: 2;
    width: 40%;
    float: left;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 13%;
    margin-left: 2%;
}

#pipe {
    display: flex;
    align-self: center;
    float: right;
    width: 55%;
    height: auto;
    margin-top: 0%;
    margin-right: 4%;
}

#stampede {
    display: flex;
    width: 50%;
    float: right;
}

#contact {
    display: flex;
    align-self: center;
    width: 22%;
    margin-left: 8%;
    margin-top: 19%;
    margin-bottom: 4%;
    cursor: pointer;
}

#line {
    width: 100%;
    height: 10px;
    color: black;
    background-color: black;
    float: bottom;
}

#contact {
    width: 64%;
    margin-left: 8%;
    margin-top: 19%;
}

#whatever {
    display: flex;
    align-self: flex-end;
    float: right;
    width: 58%;
    margin-top: 40%;
    cursor: pointer;
}

#dogSpeech {
    display: flex;
    align-self: center;
    flex-direction: row;
    z-index: -1;
}

#aboutPipe {
    display: flex;
    float: left;
    flex-direction: column;
    align-self: center;
    margin-top: -15%;
}

#speechbox {
    height: 15%;
    width: 15%;
    margin-left: 3%;
}

#dag {
    display: flex;
    align-self: center;
    width: 16%;
    height: auto;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 4%
}

#panda {
    position: relative;
    display: flex;
    align-self: center;
    z-index: 100;
    width: 100%;
    height: auto;
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 3.7%
}

#dag:hover,
#fish:hover,
#panda:hover,
#pokeball:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#leaf {
    width: 100%;
    /*opacity: .9;*/
}

#nav {
    margin-bottom: 0;
}

.collapse,
.navbar-brand {
    background-color: RGB(29, 43, 51);
    border-color: RGB(29, 43, 51);
}

#owls {
    margin-top: 40px;
    margin-right: 40px;
}

#flexThis {
    display: flex;
    justify-content: flex-end;
}

#test {
    display: flex;
    justify-content: center;
    font-size: 130px;
    font-family: Hoefler Text;
    color: RGB(49, 72, 86);
}

#test2 {
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: Hoefler Text;
    color: RGB(236, 187, 173);
}

#jh {
    width: 9%;
    margin-left: 0%;
    margin-top: 4%;
}

#jh:hover {
    transform: scale(1.1);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#test3 {
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: Hoefler Text;
    color: RGB(121, 136, 129);
}

#test4 {
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: Hoefler Text;
    color: RGB(157, 81, 65);
}

#test5 {
    display: flex;
    justify-content: center;
    font-size: 200px;
    font-family: Hoefler Text;
    color: RGB(166, 127, 72);
}

#top,
#left,
#right {
    z-index: -1;
    background: RGB(49, 72, 86);
    position: fixed;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 200px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
    z-index: -1;
    background: RGB(49, 72, 86);
}

@media
/* Fairly small screens including iphones */

only screen and (max-width: 500px),
/* iPads */

only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #top, #bottom, #left, #right {
        display: none;
    }
}

legend {
    color: white;
}

label {
    color: white;
}

#dogAndMap {
    display: flex;
    flex-direction: row;
}

#fox {
    display: flex;
    align-self: center;
    width: 20%;
    height: auto;
    margin-left: 3%;
    margin-top: 7%;
    margin-bottom: 4%
}

.mapParent {
    position: relative;
    top: 0;
    left: 0;
}

#projectMap {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 11%;
    margin-top: 1%;
    padding-left: 5%;
    float: left;
}

#thesaurusRex {
    position: absolute;
    cursor: pointer;
    width: 14%;
    top: 45%;
    left: 68%;
}

#spaceHub {
    position: absolute;
    width: 14%;
    top: 3%;
    left: 11%;
}

#flashRhino {
    position: absolute;
    width: 14%;
    top: 48.5%;
    left: 11.5%;
}

/*Blue - RGB(49, 72, 86)
Peach - RGB(236, 187, 173)
Grey/green - RGB(121, 136, 129)
Red. - RGB(157, 81, 65)
Gold - RGB(166, 127, 72)*/